/* developed by Daniel Kandilas */

body {
  font-family: "Open Sans";
  background-color: transparent;
}

#step2-q a {
  border-bottom: 1px solid #00c4ff;
}

a {
  color: black !important;
}

body p {
  font-size: 20px;
  text-align: left;
}

h3 {
  display: inline-block;
}

span {
  display: block;
  text-align: left;
}

p {
  font-size: 28px;
}

.border {
  border: 1px solid rgba(188, 188, 188, 1) !important;
  overflow: hidden;
}

.eligible {
  display: block !important;
  width: auto;
  margin: 0 auto;
}

.eligible li {
  text-align: left;
  padding: 5px 0px 5px 0px;
}

.eligible .href {
  width: fit-content;
  border-bottom: 1px solid #00c4ff;
}

.match,
.match2 {
  text-align: center;
  font-size: 24px !important;
}

.match-subhead {
  font-size: 24px !important;
}

.match-dualheadings {
  width: 75%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.text {
  font-size: 16px;
}

.text span {
  border-bottom: 1px solid #00c4ff;
  display: inline-block;
}

#step1 p:first-child,
#step2 p:first-child,
#step3 p:first-child,
#step4 p:first-child,
#step4age p:first-child,
#step5 p:first-child,
#step6 p:first-child,
#step7 p:first-child,
#step8 p:first-child,
#step9 p:first-child {
  font-weight: bold;
}

#step2-yes p,
#step3-no p,
#step4-no p,
#step4-yes p,
#step4age-yes p,
#step4age-no p,
#step5-yes p,
#step7-yes p,
#step7-no p,
#step8-yes p,
#step8-no p,
#step9-yes p,
#step9-no p {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 15px;
}

.header {
  font-family: "Open Sans Bold", "Open Sans";
  font-size: 24px;
  font-weight: 700;
  color: #004d85;
  margin-left: 10px;
  display: inline-block;
}

.cont-ainer {
  padding-top: 20px;
  max-width: 750px;
  min-width: 300px;
  margin: 0 auto;
}

a {
  color: white;
}

.link-col,
.link-col:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

section {
  margin: 0 auto;
  min-width: 300px;
  max-width: 750px;
  background: white;
}

button {
  width: 75% !important;
  margin: 0 auto;
}

.btn.btn-outline-secondary {
  width: 100% !important;
}

.btn-outline-secondary {
  border: 2px solid;
  border-color: rgba(0, 105, 181, 1);
  color: black;
}

.btn-outline-secondary:hover {
  color: white;
  background: rgba(0, 105, 181, 1);
}

.back-button,
.exit-button {
  margin-right: 20px;
  line-height: 2.4;
  color: #333;
}

.back-button,
.exit-button:hover {
  color: rgba(0, 105, 181, 1);
  cursor: pointer;
}

.btn-custom {
  border-radius: 8px;
}
.fa-arrow-left,
.fa-arrow-right,
.fa-door-open {
  color: rgba(0, 105, 181, 1);
}

.btn-outline-secondary:hover .fa-arrow-left,
.btn-outline-secondary:hover .fa-arrow-right,
.btn-outline-secondary:hover .fa-door-open {
  color: white;
}

.fa-times-circle,
.red {
  color: darkred;
  text-align: center;
}

.fa-check-circle,
.green {
  color: darkgreen;
  text-align: center;
}

.center {
  text-align: center;
}

.div-style {
  text-align: center !important;
  padding: 30px;
  background-color: white;
}

@media only screen and (max-width: 750px) {
  section {
    margin: 0 auto;
    min-width: 550px;
  }

  #step2-yes p {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  section {
    margin: 0 auto;
    min-width: auto;
  }
  #step2-yes p {
    width: 100%;
  }
}

.btn-primary {
  background-color: rgba(0, 105, 181, 1);
  border-color: rgba(0, 105, 181, 1);
  width: 180px !important;
}

.btn-secondary {
  width: 180px !important;
}

a:hover {
  color: white;
  text-decoration: none;
}
